.carousel {
    // height: 320px;
    margin: 60px 0 70px 0;

    @media (min-width: 768px) {
        height: 350px;
        margin: 100px 0;
    }
}

.slick-dots  {
    display: flex;
    justify-content: center;
    list-style: none;

    .slick-active button {
        background-color: $color-blue;
    }

    button {
        background-color: #D9DEE2;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        font-size: 0;
        border: none;
    }

    & li {
        margin-right: 25px;
    }
}

.slide {
    text-align: center;

    &__foto {
        margin: auto;
    }

    &__img {
        width: 202px;
        text-align: center;
        margin: auto;
        margin-top: 10px;
    }

    &__title {
        color: $color-blue;
        font-size: 28px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    &__text {
        color: $color-black;
        line-height: 2rem;
    }

    &__avtor {
        color: $color-gray;
    }
}
