/* Colors */
$color-blue: #3EA6FF;
$color-yellow: #FFCA00;
$color-white: #FFFFFF;
$color-black: #020200;
$color-black-light: #404040;
$color-black-dark: #666666;
$color-gray-light: #F2F2F2;
$color-gray: #B3B3B3;
$color-gray-dark: #404040;


/* Fonts */
$font-family: -apple-system, BlinkMacSystemFont;
$font-family-serif: Georgia;
$font-size-base: 16px;