.header__btn {
    background-color: $color-gray-light;
    color: $color-black-dark;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 12px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    border: none;
    font-weight: bold;
    text-transform: uppercase;
}

.banner__btn {
    background-color: $color-yellow;
    color: $color-brown;
    font-size: 12px;
    padding: 15px 30px;
    border: 1px solid #B38F00;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}